# Environment Vars
.env

# Videos
*.mp4

# Packages
**/vendor
**/node_modules

# MySQL Volume
mysql

# MkCert
apache/certs

# Git
mysql/*
.DS_Store
.idea

# Laravel Specific
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/.env
/src/.env.testing
/src/.env.backup
/src/.phpunit.result.cache
/src/docker-compose.override.yml
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log

# Supervisor
/src/supervisord.log
/src/supervisord.pid

# Videos
*.mp4