body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px;
  margin: 0;
}

.button {
  border: none;
  background-color: inherit;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  opacity: 0.75;
}

.center {
  margin: auto;
  width: 50%;
  border 5px #349eeb;
  padding: 10px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.container {
  padding: 16px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: #fc8403;
   text-align: right;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 80%;
  font-family: sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbutton {
  background-color: #349eeb;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.pic {
    height: 100px;
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 600px) {
  span.psw {
     display: block;
     float: none;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    float: right;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
