.title {
    text-align: center;
    color: black;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

.timer {
    text-align: right;
}
p span {
    color: black;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dfdfdf;
}
